<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">

        <title>Instagram User ID Lookup</title>

        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/scriptsss.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/layout.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/skeleton.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
    </head>
    <body>
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </body>
</html>